<div class="container">
  <ul>
    {{#each docs}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <form class="mt-5" action="../search" method="GET">
    <div class="form-group">
      <label for="exampleInputEmail1">Nhập nội dung tìm kiếm</label>
      <input type="text" class="form-control" name="keyword" id="exampleInputEmail1">
    </div>
    <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
  </form>
</div>