<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from demo.hasthemes.com/juta-preview/juta-v1/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Oct 2020 13:01:41 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Juta - Ecommerce Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- all CSS hear -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ionicons.min.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/nice-select.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/mainmenu.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="wrapper cart-page">

        {{>header}}

        {{{body}}}

        {{>footer}}

    </div>

    <script src="../js/vendor/jquery-1.12.4.min.js"></script>
    <!-- all plugins JS hear -->
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.mainmenu.js"></script>
    <script src="../js/ajax-email.js"></script>
    <script src="../js/plugins.js"></script>
    <!-- main JS -->
    <script src="../js/main.js"></script>
</body>

<!-- Mirrored from demo.hasthemes.com/juta-preview/juta-v1/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Oct 2020 13:01:42 GMT -->

</html>